/target
/.settings
/.classpath
/orig_házikönyvtár.xls
/zip.zip
/házikönyvtár.xls
/marc.txt
/test.xls
/teszt.xls
/backup
/src/main/resources/backup/*
.cache*
.project
/FailedTestVideos
release.properties
${data}
/.scalastyle
/.idea/
Notepad++/
idakonyvtar/